.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 130px;
    height: 130px;
}

.nav-items > ul{
    font-size: 18px;
    display: flex;
    padding: 0px 20px;
    list-style-type: none
}

.nav-items > ul > li {
    padding: 10px;
    margin : 10px
}
.nav-items > ul > li:hover {
   cursor: pointer;
}


.res-container{
    display: flex;
    flex-wrap: wrap
}

.res-card{
    width: 170px;
    padding:5px;
    border-radius:16px;
    margin:10px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer
}

.search{
    padding: 10px;
}

.res-logo{
    width:100%;
}

.filter-btn{
    margin:10px;
    cursor: pointer;
    margin-left:4px;
}

.shimmer-container{
    display: flex;
    flex-wrap:wrap
}

.shimmer-card {
    height: 383px;
    background-color: #f0f0f0;
    width: 170px;
    padding:5px;
    border-radius:16px;
    margin:10px;
}
.shimmer-image{
    height:108px;
    width:170px;
    background-color:white
}
.login{
    padding:5px;
    border-radius:5px;
    border: 1px dotted black;
    background-color: orange;
    color: white;
}
.login:hover{
    cursor: pointer
}

.search-box{
    width: 180px;
    margin-left:15px;
    margin-right:4px;
    border-radius:5px;
}

.res-menu{
    background-color: #f0f0f0;
    width:320px;
    height:1250px;
    border-radius:5px;
    margin-top:22px;
    margin-bottom:22px;
}
